# Paths
Data/**
!Data/**/
!Data/**/.gitkeep

Models/**
!Models/**/
!Models/**/.gitkeep

Output/**
!Output/**/
!Output/**/.gitkeep

# Cache and jupyter checkpoints
.ipynb_checkpoints
__pycache__

# Virtual enviroments
venv
.venv
.venv/
venv/
env/
ENV/
scibert_env

# Spyder prject settings
.spyderproject
.spyproject

# Visual studio code
.vscode
